


<div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        <div class="text-center page-status status-none" >
            <span class="status font-large">
              All Systems Operational
            </span>
            <span class="last-updated-stamp  font-small"></span>
        </div>

    </div>
    <div class="col-6 col-md-4"></div>
  </div>



<div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        <table class="table">
            <!--
            <thead>
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>-->
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.id}}</th>
                <td>{{el.first}}</td>
                <td>{{el.last}}</td>                
              </tr>
            </tbody>
        </table>

    </div>
    <div class="col-6 col-md-4"></div>
  </div>
